{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&T NRUTA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7f6c68362a.js" crossorigin="anonymous"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2WkYkcPBqRrAVLdQzGbvK_Zide1XWwe5ZOA&s" alt="Logo D&T NRUTA" width="30" height="30" class="d-inline-block align-top" style="margin-right: 10px;"> <!-- Agrega la imagen aquí -->
                D&T NRUTA
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">
                            <i class="fa-regular fa-user"></i> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Solicitud de Mantenimiento</h3>
                    </div>
                    <div class="card-body">
                        <form id="registroForm">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="apellido" name="apellido" required>
                            </div>
                            <div class="mb-3">
                                <label for="marca" class="form-label">Marca Motocicleta</label>
                                <input type="text" class="form-control" id="marca" name="marca" required>
                            </div>
                            <div class="mb-3">
                                <label for="placa" class="form-label">Placa</label>
                                <input type="text" class="form-control" id="placa" name="placa" required>
                            </div>
                            <div class="mb-3">
                                <label for="servicios" class="form-label">Servicios Solicitados</label>
                                <select class="form-select" id="servicios" name="servicios" required>
                                    <option value="">Seleccionar...</option>
                                    <option value="mantenimiento">Mantenimiento</option>
                                    <option value="reparacion">Reparación</option>
                                    <option value="revision">Revisión</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="fecha" class="form-label">Fecha Solicitud</label>
                                <input type="date" class="form-control" id="fecha" name="fecha" required>
                            </div>
                            <div class="mb-3">
                                <label for="asesor" class="form-label">Asesor de Servicio</label>
                                <select class="form-select" id="asesor" name="asesor" required>
                                    <option value="">Seleccionar...</option>
                                    <option value="asesor1">Asesor 1</option>
                                    <option value="asesor2">Asesor 2</option>
                                    <option value="asesor3">Asesor 3</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <nav class="navbar contact-navbar">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="navbar-text contact-info-text">Teléfono: 951303091| Email: D&TNRUTA123@gmail.com</span>
            <div>
                <a href="https://www.tiktok.com/@dytnruta" class="social-icon"><i class="fab fa-tiktok fa-lg"></i></a> 
                <a href="https://www.facebook.com/profile.php?id=100087597285206&sk=about" class="social-icon"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="{% url 'vistaquejas' %}" class="social-icon"><i class="fa-solid fa-book" style="color: #63E6BE;"></i></a>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qvphk4KpGHbqW8BiTQK1vxUp8kjvYjFAT0MXJX7HlEk7k3dC1L93pXlbMn0y5tw4" crossorigin="anonymous"></script>
</body>
</html>
