{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&T NRUTA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7f6c68362a.js" crossorigin="anonymous"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2WkYkcPBqRrAVLdQzGbvK_Zide1XWwe5ZOA&s" alt="Logo D&T NRUTA" width="30" height="30" class="d-inline-block align-top" style="margin-right: 10px;"> 
                D&T NRUTA
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">
                            <i class="fa-regular fa-user"></i> 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link cart-icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div> 
        </div>
    </nav>

    <div class="cart-popup" id="cartPopup">
        <div class="cart-content">
            <h3>Carrito de Compras</h3>
            <p>No tienes productos en carrito.</p>
        </div>
    </div>
    
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Solicitud de Mantenimiento</h3>
                    </div>
                    <div class="card-body">
                        <form id="registroForm" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="id" name="id">
                            <div class="mb-3">
                                <label for="nombres" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombres" name="nombres" required>
                            </div>
                            <div class="mb-3">
                                <label for="apellidos" class="form-label">Apellidos</label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                            </div>
                            <div class="mb-3">
                                <label for="ncontacto" class="form-label">Número de Contacto</label>
                                <input type="text" class="form-control" id="ncontacto" name="ncontacto" required>
                            </div>
                            <div class="mb-3">
                                <label for="placamoto" class="form-label">Placa Motocicleta</label>
                                <input type="text" class="form-control" id="placamoto" name="placamoto" required>
                            </div>
                            <div class="mb-3">
                                <label for="serviciossolicitados" class="form-label">Servicios Solicitados</label>
                                <input type="text" class="form-control" id="serviciossolicitados" name="serviciossolicitados" required>
                            </div>
                            <div class="mb-3">
                                <label for="repuestosolicitados" class="form-label">Repuestos Solicitados</label>
                                <input type="text" class="form-control" id="repuestosolicitados" name="repuestosolicitados">
                            </div>
                            <div class="mb-3">
                                <label for="fechaactual" class="form-label">Fecha Actual</label>
                                <input type="date" class="form-control" id="fechaactual" name="fechaactual" required>
                            </div>
                            <div class="mb-3">
                                <label for="fechasolicitada" class="form-label">Fecha Solicitada</label>
                                <input type="date" class="form-control" id="fechasolicitada" name="fechasolicitada" required>
                            </div>
                            <div class="mb-3">
                                <label for="asesor" class="form-label">Asesor</label>
                                <select class="form-control" id="asesor" name="asesor" required>
                                    <option value="" disabled selected>Seleccione un asesor...</option>
                                    <option value="Pedro López - Electricista">Pedro López - Electricista</option>
                                    <option value="Miguel Sánchez - Mecánico General">Miguel Sánchez - Mecánico General</option>
                                    <option value="Raúl Díaz - Especialista en Motor">Raúl Díaz - Especialista en Motor</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="mecanico" class="form-label">Mecánico...</label>
                                <select class="form-control" id="mecanico" name="mecanico" required>
                                    <option value="" disabled selected>Seleccione un mecánico</option>
                                    <option value="Pedro López - Electricista">Pedro López - Electricista</option>
                                    <option value="Miguel Sánchez - Mecánico General">Miguel Sánchez - Mecánico General</option>
                                    <option value="Raúl Díaz - Especialista en Motor">Raúl Díaz - Especialista en Motor</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar contact-navbar">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="navbar-text contact-info-text">Teléfono: 951303091| Email: D&TNRUTA123@gmail.com</span>
            <div>
                <a href="https://www.tiktok.com/@dytnruta" class="social-icon"><i class="fab fa-tiktok fa-lg"></i></a> 
                <a href="https://www.facebook.com/profile.php?id=100087597285206&sk=about" class="social-icon"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="{% url 'vistaquejas' %}" class="social-icon"><i class="fa-solid fa-book" style="color: #63E6BE;"></i></a>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qvphk4KpGHbqW8BiTQK1vxUp8kjvYjFAT0MXJX7HlEk7k3dC1L93pXlbMn0y5tw4" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('registroForm');

            // Generate a random number for ID
            const randomId = Math.floor(Math.random() * 1000000);
            document.getElementById('id').value = randomId;

            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting normally

                // Collect form data
                const formData = new FormData(form);

                // Fetch URL for submitting data
                const submitUrl = '/servicios/';

                // Configure the fetch request
                fetch(submitUrl, {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    alert('Solicitud registrada correctamente.');
                    form.reset(); 
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('Solicitud registrada correctamente.');
                });
            });
        });
    </script>
</body>
</html>
