{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Sitio Web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7f6c68362a.js" crossorigin="anonymous"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
  
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2WkYkcPBqRrAVLdQzGbvK_Zide1XWwe5ZOA&s" alt="Logo D&T NRUTA" width="30" height="30" class="d-inline-block align-top" style="margin-right: 10px;"> <!-- Agrega la imagen aquí -->
                D&T NRUTA
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">
                            <i class="fa-regular fa-user"></i> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Categorías</a></li>
                <li class="breadcrumb-item active" aria-current="page">Suspensión</li>
            </ol>
        </nav>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">MONOSHOCK AMORTIGUADOR CENTRAL</div>
                        <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_124861520_4135438_1?wid=800&hei=800&qlt=70" class="repuesto-img" alt="Aceites">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">RESORTE PEDAL FRENO</div>
                        <img src="https://rimage.ripley.com.pe/home.ripley/Attachment/MKP/2175/PMP00001554593/full_image-1.jpeg" class="repuesto-img" alt="Sistemas de transmisión">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">TELESCOPICA IZQUIERDA</div>
                        <img src="https://jpmotorcycles.pe/wp-content/uploads/amortiguador-sfx-jpmotorcycles-ASFX.jpg" class="repuesto-img" alt="Sistemas de tracción">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">RESORTE PARADOR LATERA</div>
                        <img src="https://tecnimotors.com/cdn/shop/products/resorte-parador-lateral-chn0009609-reouestos-prox-rtm126-904_500x_crop_center.jpg?v=1619037994" class="repuesto-img" alt="Aceites">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">RESORTE DE PEDAL DE FRENO</div>
                        <img src="https://tecnimotors.com/cdn/shop/products/gl-resorte-de-pedal-freno-chn0033163-repuestos-766_500x_crop_center.jpg?v=1619031032" class="repuesto-img" alt="Sistemas de transmisión">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">AMORTIGUADOR POSTERIOR</div>
                        <img src="https://jpmotorcycles.pe/wp-content/uploads/amortiguador-coopilar-jpmotorcycles-ACOOPILAR.jpg" class="repuesto-img" alt="Sistemas de tracción">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">MONOSHOCK AMORTIGUADOR CENTRAL</div>
                        <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_124861520_4135438_1?wid=800&hei=800&qlt=70" class="repuesto-img" alt="Aceites">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">RESORTE PEDAL FRENO</div>
                        <img src="https://rimage.ripley.com.pe/home.ripley/Attachment/MKP/2175/PMP00001554593/full_image-1.jpeg" class="repuesto-img" alt="Sistemas de transmisión">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">TELESCOPICA IZQUIERDA</div>
                        <img src="https://jpmotorcycles.pe/wp-content/uploads/amortiguador-sfx-jpmotorcycles-ASFX.jpg" class="repuesto-img" alt="Sistemas de tracción">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">RESORTE PARADOR LATERA</div>
                        <img src="https://tecnimotors.com/cdn/shop/products/resorte-parador-lateral-chn0009609-reouestos-prox-rtm126-904_500x_crop_center.jpg?v=1619037994" class="repuesto-img" alt="Aceites">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">RESORTE DE PEDAL DE FRENO</div>
                        <img src="https://tecnimotors.com/cdn/shop/products/gl-resorte-de-pedal-freno-chn0033163-repuestos-766_500x_crop_center.jpg?v=1619031032" class="repuesto-img" alt="Sistemas de transmisión">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="categoria-titulo">AMORTIGUADOR POSTERIOR</div>
                        <img src="https://jpmotorcycles.pe/wp-content/uploads/amortiguador-coopilar-jpmotorcycles-ACOOPILAR.jpg" class="repuesto-img" alt="Sistemas de tracción">
                        <p class="card-text">Envíos a nivel nacional</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
   
    <div style="height: 1500px;"></div>


    <nav class="navbar contact-navbar">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="navbar-text contact-info-text">Contacto: Teléfono: 988458986 | Email: D&TNRUTA123@gmail.com</span>
            <div>
                <a href="https://www.tiktok.com/@dytnruta" class="social-icon"><i class="fab fa-tiktok fa-lg"></i></a> 
                <a href="https://www.facebook.com/profile.php?id=100087597285206&sk=about" class="social-icon"><i class="fab fa-facebook fa-lg"></i></a>
            </div>
        </div>
    </nav>
    
    
