{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&T NRUTA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7f6c68362a.js" crossorigin="anonymous"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2WkYkcPBqRrAVLdQzGbvK_Zide1XWwe5ZOA&s" alt="Logo D&T NRUTA" width="30" height="30" class="d-inline-block align-top" style="margin-right: 10px;"> <!-- Agrega la imagen aquí -->
                D&T NRUTA
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">
                            <i class="fa-regular fa-user"></i> 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link cart-icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="cart-popup" id="cartPopup">
        <div class="cart-content">
            <h3>Carrito de Compras</h3>
            <p>No tienes productos en carrito.</p>
        </div>
    </div>

    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Misión
                    </div>
                    <div class="card-body">
                        <p class="card-text">Nuestra misión es proporcionar el mejor y más accesible servicio de venta y reparación de motocicletas para todos nuestros clientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Visión
                    </div>
                    <div class="card-body">
                        <p class="card-text">Nuestra visión es lograr un crecimiento rentable en el distrito de Lima a través de un servicio excepcional y accesible a nuestros consumidores.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Historia
                    </div>
                    <div class="card-body">
                        <p class="card-text">Fundada en el año 2002 con el nombre de “AutoRepuestos Diaz”, en el distrito de Comas y dedicado a la venta y reparación de piezas de automóviles. En el año 2015 cambia su especialidad a la venta de repuestos y reparación de motocicletas. Posteriormente en el año 2022 se realiza una renovación, cambiando el RUC, Nombre Comercial y Representante Legal, formando la empresa D&T NRUTA. Actualmente la empresa se encuentra ubicada en el distrito de Surquillo, en la Av. Angamos Este Nro 1049 Urb. Cercado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Ubicación
                    </div>
                    <div class="card-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.988657015667!2d-77.02322682536459!3d-12.112928443135244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c97389bb3c6b%3A0xeaf3aab78d8d96ea!2sD%26T%20NRUTA!5e0!3m2!1ses-419!2spe!4v1717786581674!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div style="height: 1500px;"></div>

    <nav class="navbar contact-navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-text contact-info-text">Teléfono: 951303091| Email: D&TNRUTA123@gmail.com</span>
            <div>
                <a href="https://www.tiktok.com/@dytnruta" class="social-icon"><i class="fab fa-tiktok fa-lg"></i></a> 
                <a href="https://www.facebook.com/profile.php?id=100087597285206&sk=about" class="social-icon"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="{% url 'vistaquejas' %}" class="social-icon"><i class="fa-solid fa-book" style="color: #63E6BE;"></i></a>
            </div>
        </div>
    </nav>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var cartIcon = document.querySelector('.cart-icon');
            var cartPopup = document.getElementById('cartPopup');
        
            cartIcon.addEventListener('click', function() {
                cartPopup.style.display = 'block';
            });
        
            window.addEventListener('click', function(event) {
                if (event.target !== cartIcon && event.target !== cartPopup && !cartPopup.contains(event.target)) {
                    cartPopup.style.display = 'none';
                }
            });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qvphk4KpGHbqW8BiTQK1vxUp8kjvYjFAT0MXJX7HlEk7k3dC1L93pXlbMn0y5tw4" crossorigin="anonymous"></script>
</body>
</html>

    
